@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

body {
  background-color: #f2f2f2;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
  color: #4e4e4e;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

a:hover {
  opacity: .8;
}

h2,
h3 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
  margin: 20px;
}

.centered {
  text-align: center;
}

.mt {
  margin-top: 20px;
}

.ml {
  margin-left: 10px;
}

.logo {
  text-align: center;
  margin-top: 50px;
}

.logo img {
  width: 300px;
}

.title {
  background-color: #4e4e4e;
  padding: 10px 0;
  margin-top: 50px;
}

.title h2 {
  color: white;
}

.container img {
  max-width: 90%;
  max-height: 90%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.app-image {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3) inset, 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.app-image:hover {
  box-shadow: none;
  border: 1px solid #ccc;
}

.card {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: none;
  border: 1px solid #ccc;
}

.closed {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom: 0;
  border-radius: 0 0 10px 10px;

}

.closed::after {
  content: 'closed';
}

.box {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  color: #ffffff;
  background-color: #4e4e4e;
  padding: 10px 30px;
  margin-top: 50px;
  font-size: 18px;
  border: 5px solid transparent;
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
}

.box.-app {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.btn-app {
  position: relative;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #A6A6A6;
  display: inline-flex;
  width: 200px;
  height: 67px;
  line-height: 1.2;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 10px;

  i {
    font-size: 36px;
  }

  .btn-app-text {
    font-size: 24px;
    font-weight: 400;
  }

  .btn-app-text-small {
    font-size: 12px;
    font-weight: 400;
  }
}

.btn-app.-closed {
  color: #ccc !important;
  background-color: #333;
}

.app-closed {
  position: absolute;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  width: calc(100% + 4px);
  left: -2px;
  bottom: -2px;
  padding-bottom: 2px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.app-closed::after {
  content: 'closed';
}

.social {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

.social i {
  font-size: 50px;
}

.mail {
  margin-top: 14px;
}

.vips {
  margin-top: 50px;
  width: 128px;
  border: 1px solid #4e4e4e;
}

.share {
  background-color: #4e4e4e;
  text-align: center;
  padding: 20px;
}